{block content}

{include "../head.latte"}

{if $success}
Registrace byla úspěšně dokončena. Nyní se můžete přihlásit.
{else}
Při registarci došlo k neočekávané chybě. Kontaktujte administrátora.
{/if}